<div class="hero" ng-style="heroImage">
    <div class="container">
        <h1 class="text-center">WeatherWatch</h1>

        <div class="form-group">
            <label>Please enter the desired location:</label>
            <input type="text" class="form-control" ng-model="location">
        </div>
        <button class="btn btn-primary center-block" ng-click="getWeather()">Get Weather!</button>

        <div class="results text-center" ng-show="resultsPresent">
            <h3>Current temp: <strong> {{temp}} &#176;</h3></p>
            <h4>Today's forecast: <strong> {{forecast}} </h4> </p>
            <h5>Current visibility: <strong> {{currentVisibility}} mi.</h5> </p>
            <h5>Current wind speed: <strong> {{currentWindSpeed}} mph</h5> </p>
            <h5>Current humidity: <strong> {{currentHumidity}} &#176;</h5> </p>
            <h5>Timezone: <strong> {{timezone}} </strong></h5>
        </div>
        <button class="btn btn-sm btn-basic center-block" id="clear" ng-click="clearInfo()" ng-show="resultsPresent">Clear</button>

        <div id="map" ng-show="resultsPresent"></div>
    </div>
</div>